.parameters{
    border-style: solid;
    border-width: 2px;
}

.top-articles{
    border-style: solid;
    border-width: 2px;
    height: 200px;
}

#paramLabel{
    background-color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
}

#articlesLabel{
    background-color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
}

#formStyle{
    margin: 10px;
}

.parameters{
    border-style: solid;
    border-width: 2px;
}
.jumbotron{
    background-color: navy;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
